[submodule "public"]
	path = public
	url = https://github.com/kshitij10496/kshitij10496.github.io.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/hugo-theme-basic"]
	path = themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "themes/tufte"]
	path = themes/tufte
	url = https://github.com/shawnohare/hugo-tufte.git
